<!DOCTYPE html>
  <html>
  	<head>
  		<title>
        {{ page.title }}
      </title>
  		<link rel='stylesheet' type='text/css' href='/css/main.css'>
  	</head>
  	<body>
  		<nav>
      		<ul>
          		<li><a href="/">Home</a></li>
  	        	<li><a href="/info">Info</a></li>
          		<li><a href="/blog">Blog</a></li>
  						<li><a href="/projects">Projects</a></li>
      		</ul>
  		</nav>
  		<div class="container">
        {{ content }}
  		</div><!-- /.container -->
  		<footer>
      		<ul>
          		<li><a href="tonyzhang95@gmail.com">tonyzhang95@gmail.com</a></li>
          		<li><a href="https://github.com/tonyzhang95">github.com/tonyzhang95</a></li>
              <li><a href="https://www.linkedin.com/in/zibozhang">linkedin.com/in/zibozhang</a></li>
  			</ul>
  		</footer>
  	</body>
  </html>
